Backtesting
beautifulsoup4
bokeh
certifi
charset-normalizer
contourpy
cycler
fonttools
frozendict
html5lib
idna
iniconfig
Jinja2
kiwisolver
lxml
MarkupSafe
numpy
matplotlib
multitasking
packaging
pandas
peewee
pillow
platformdirs
plotly
pluggy
pyparsing
pytest
python-dateutil
pytz
PyYAML
requests
six
scikit-learn
soupsieve
tenacity
tornado
tzdata
urllib3
webencodings
xyzservices
yfinance

